/*全部设置为无边距*/
*{
	
	margin:0;padding:0;
}


.blog_top{
	
	width: 100%;
	height: 312px;
	border:0px solid gray;
}


.blog_left{
	
	width: 320px;
	height: 800px;
	border:0px solid gray;
}

.blog_center{
	width: 860px;
	height: 800px;
	border:0px solid gray;
}

.blog_right{
	
	width: 320px;
	height: 800px;
	border:0px solid gray;
}